body{ background-color: black;}
header {
    background-color: rgb(104, 7, 7);
    color: whitesmoke;
}
h1 {
    text-align: center; 
    
}

a {box-shadow: inset 0 0 0 0 rgb(235, 235, 235);
  color: #f8f7fc;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    cursor: pointer;
}
a:hover {
    box-shadow: inset 200px 0 0 0 blue;
    color: white;
  }
p{
    color: azure;
}
li{
    color: azure;
}

    dl{ color: azure;}
  .texto1 {
    color: #ffffff;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;  /*fuente*/ 
     
    
   
  }

  .texto3 {
    color: rgb(231, 231, 231);
   ; 
   text-align: center;
   font-size: 125%; }